.env
docker-compose.yml

conf/glpi/config_db.php

conf/mysql/secrets/*
!conf/mysql/secrets/.gitkeep

conf/pics/*
!conf/pics/.gitkeep
!conf/pics/fd_logo_original.png
!conf/pics/login_logo_glpi_original.png

volumes/backups/database/*
!volumes/backups/database/.gitkeep
volumes/glpi/config/*
!volumes/glpi/config/.gitkeep
volumes/glpi/files/*
!volumes/glpi/files/.gitkeep
volumes/glpi/marketplace/*
!volumes/glpi/marketplace/.gitkeep
volumes/log/nginx/*
!volumes/log/nginx/.gitkeep
